body {
    background-color: rgb(1, 26, 138);
}

#header {
    padding: 25px;
    color: rgb(255, 238, 0);
    background-color: darkblue;
    font-size: 40px;
    font-family: Helvetica;
}

.subtitle {
    color: rgb(197, 175, 175);
}

.l2{
    list-style-type: none;
    padding-left: 20px;
    border: 3px solid;
    border-color: darkgoldenrod;
    background-color: rgb(0, 0, 0);
    font-size: 15px;
}

.l3{
    font-size: 20px;
    padding: 15px 15px 15px 15px;
    color: bisque;
}


.myname{
    color: gold;
    font-family: Arial;
    font-size: 30px;
    font-weight: 100;
}

.myphoto{
    border-radius: 150px;
    border: 10px;
    border-color: gold;
}

.mydesc{
    font-size: 20px;
    color: aliceblue;
    background-color: black;

    margin: 0;
    border: 3px solid;
    border-color: rgb(224, 228, 0);
    padding: 15px;
}